<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a ngbDropdown-toggle class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <li class="nav-item">
          <button style="border: none;" (click)="logout()">Logout</button>
        </li>
        
      </div>
    </div>
  </nav>

  
  <div class="summary mt-3 pt-2">
    <p></p>
    <div class="row">
      <div class="col-md" style="height:15vh;background-color: rgb(133, 228, 133); text-align: center; font-weight: bold;">
        <br>Total Income
        <br>
        <div *ngIf="!filter_on"> {{totalIncome}}</div>
        <div *ngIf="filter_on">{{filter_totalIncome}}</div>
      </div>
      <div class="col-md" style="height:15vh;background-color: rgb(233, 133, 133);text-align: center; font-weight: bold;">
        <br>Total Expense 
        <br>
        <div *ngIf="!filter_on">{{totalExpense}}</div>
        <div *ngIf="filter_on">{{filter_totalExpense}}</div>
      </div>
      <div class="col-md" style="height:15vh;background-color: rgb(233, 228, 133);text-align: center; font-weight: bold;">
       <br> 
       Balance <br> 
       <div *ngIf="!filter_on">{{totalIncome-totalExpense}}</div> 
        <div *ngIf="filter_on">{{filter_totalIncome-filter_totalExpense}}</div>
      </div>
    </div>
  </div>

  <div *ngIf="!view_form && !edit_mode">

  <div class="search-field mt-5 pt-3">
      <input type="text" id="search" placeholder="Search by Name..." #search>  
      <button type="submit" (click)="searchFilter(search.value)">Search</button>
  </div>

  <div class="row filters">
    <div class="col-md-2 mt-2 pt-3 first-filter">
    <button *ngIf="!date_filter" class="dropbtn1">Date Range</button>
    <div *ngIf="!date_filter" class="dropdown-content1">
      <button class="filter-button" style="border:none;cursor:pointer;" (click)="filterRequestDate('sevenDays')">Last 7 days</button>
      <button class="filter-button" style="border:none;cursor:pointer;" (click)="filterRequestDate('thirtyDays')">Last 30 days</button>
      <button class="filter-button" style="border:none;cursor:pointer;" (click)="filterRequestDate('sixtyDays')">Last 60 days</button>
      <button class="filter-button" style="border:none;cursor:pointer;" (click)="filterRequestDate('ninetyDays')">Last 90 days</button>
    </div>
  </div>
  <div class="col-md-2 mt-2 pt-3 second-filter">
    <button *ngIf="!type_filter" class="dropbtn2 ms-5">Type</button>
    <div *ngIf="!type_filter" class="dropdown-content2">
     <button class="filter-button" style="border:none;cursor:pointer;" (click)="filterRequestType('income')">Income</button>
     <button class="filter-button" style="border:none;cursor:pointer;" (click)="filterRequestType('expense')">Expense</button>
    </div>
  </div>
  <div class="col-md-2 mt-2 pt-3 third-filter">
    <button *ngIf="!reoccuring_filter" class="dropbtn3 ms-5">Reoccuring</button>
    <div *ngIf="!reoccuring_filter" class="dropdown-content3">
      <button class="filter-button" style="border:none;cursor:pointer;" (click)="filterRequestReoccuring('one-time')">One time</button>
      <button class="filter-button" style="border:none;cursor:pointer;" (click)="filterRequestReoccuring('weekly')">Weekly</button>
      <button class="filter-button" style="border:none;cursor:pointer;" (click)="filterRequestReoccuring('monthly')"> Monthly</button>
      <button class="filter-button" style="border:none;cursor:pointer;" (click)="filterRequestReoccuring('yearly')">Yearly</button>
    </div>
  </div>
  </div>

  <div class="records mt-3 pt-2">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Amount</th>
          <th scope="col">Date</th>
          <th scope="col">Type</th>
          <th scope="col">Reoccuring</th>
        </tr>
      </thead>
      <!-- Without pagination <tbody *ngIf="!filter_on">
        <tr *ngFor="let data of allData.reverse(); index as i">
          <td>{{data.description}}</td>
          <td>{{data.amount}}</td>
          <td>{{data.date}}</td>
          <td>{{data.type}}</td>
          <td class="col-2">{{data.reoccuring}}</td>
          <td><button style="border: none;" (click)="onEditButton(i)">Edit</button></td>
          <td><button style="border: none;" (click)="onDeleteButton(i)">Delete</button></td>
        </tr>
        </tbody> -->
        <tbody *ngIf="!filter_on">
          <tr *ngFor="let data of page_content; index as i">
            <td>{{data.description}}</td>
            <td>{{data.amount}}</td>
            <td>{{data.date}}</td>
            <td>{{data.type}}</td>
            <td class="col-2">{{data.reoccuring}}</td>
            <td><button style="border: none;" (click)="onEditButton(i)">Edit</button></td>
            <td><button style="border: none;" (click)="onDeleteButton(i)">Delete</button></td>
          </tr>
          </tbody>
        <tbody *ngIf="filter_on">
          <tr *ngFor="let data of filteredList.reverse(); index as i">
            <td>{{data.description}}</td>
            <td>{{data.amount}}</td>
            <td>{{data.date}}</td>
            <td>{{data.type}}</td>
            <td class="col-2">{{data.reoccuring}}</td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="!filter_on" class="pagination">
          <button (click)="changePage(current_page - 1)" [disabled]="current_page === 0">Previous</button>
          <span>Page {{ current_page+1 }} of {{ total_pages }}</span>
          <button (click)="changePage(current_page + 1)" [disabled]="current_page === total_pages-1">Next</button>
        </div>
  </div>

  <div class="mt-2 pt-2" style="padding-left: 44vw;">
    <button *ngIf="!filter_on" class="add-btn" (click)="onAddClick()">Add</button>
    <button *ngIf="filter_on" style="border:none; background-color: rgb(241, 7, 7); color:rgb(233, 224, 224)" (click)="filterClose()">Reset</button>
  </div>

</div>

<div *ngIf="view_form">
   
  <div class="mt-4 pt-2 ms-2">
  <button class="cancel-button" type="cancel" (click)="setview_formToFalse()">X</button>
</div>
  <form class="form-view mt-3" [formGroup]="addForm" (ngSubmit)="onSubmit()">
    
    <label for="name" class="form-label">Description:</label> <br/>
    <div class="col-md-3">
    <input type="text" id="name" class="form-control" placeholder="Eg. Salary, Internet Bill..." formControlName="description"><p></p>
  </div>

    <label for="amount" class="form-label">Amount(in Rs.):</label><br/>
    <div class="col-md-3">
    <input type="number" id="name" class="form-control" placeholder="Enter Amount..." formControlName="amount"><p></p>
</div>

    <label for="date" class="form-label">Date:</label><br/>
    <div class="col-md-3">
    <input type="date" id="date" class="form-control"  formControlName="date"><p></p>
</div>

    <label for="type" class="form-label">Type:</label><br/>
    <div class="col-md-3">
    <select name="type" id="type" class="form-control" formControlName="type">
      <option value="income">Income</option>
      <option value="expense">Expense</option>
    </select><p></p>
</div>

    <label for="reoccuring" class="form-label">Reoccuring:</label><br/>
    <div class="col-md-3">
    <select name="reoccuring" id="reoccuring" class="form-control" formControlName="reoccuring">
      <option value="one-time">One Time</option>
      <option value="weekly">Weekly</option>
      <option value="monthly">Monthly</option>
      <option value="yearly">Yearly</option>
    </select><p></p>
</div>
    <button class="submit-form" type="submit" >Submit</button>
  </form>
  
</div>

<div *ngIf="edit_mode">

  <div class="mt-4 pt-2 ms-2">
    <button class="cancel-button" type="cancel" (click)="setedit_modeToFalse()">X</button>
    <span class="editText">Edit Mode</span>
  </div>
    <form class="form-view mt-3 pt-2" (ngSubmit)="onSubmitEdit()">
      
      <label for="name" class="form-label">Description:</label> <br/>
      <div class="col-md-3">
      <input type="text" id="name" class="form-control" placeholder="Eg. Salary, Internet Bill..."  name="description" [(ngModel)]="editValue.description"><p></p>
    </div>
  
      <label for="amount" class="form-label">Amount(in Rs.):</label><br/>
      <div class="col-md-3">
      <input type="number" id="name" class="form-control" placeholder="Enter Amount..." name="amount" [(ngModel)]="editValue.amount"><p></p>
  </div>
  
      <label for="date" class="form-label">Date:</label><br/>
      <div class="col-md-3">
      <input type="date" id="date" class="form-control" name="date" [(ngModel)]="editValue.date"><p></p>
  </div>
  
      <label for="type" class="form-label">Type:</label><br/>
      <div class="col-md-3">
      <select name="type" id="type" class="form-control"  [(ngModel)]="editValue.type">
        <option value="income">Income</option>
        <option value="expense">Expense</option>
      </select><p></p>
  </div>
  
      <label for="reoccuring" class="form-label">Reoccuring:</label><br/>
      <div class="col-md-3">
      <select name="reoccuring" id="reoccuring" class="form-control" [(ngModel)]="editValue.reoccuring">
        <option value="one-time">One Time</option>
        <option value="weekly">Weekly</option>
        <option value="monthly">Monthly</option>
        <option value="expense">Yearly</option>
      </select><p></p>
  </div>
      <button class="submit-form" type="submit">Submit</button>
    </form>
</div>